body {
    background:#000 url('../images/bg.jpg') center right no-repeat;
    background-size:cover;
}
header {
    background:#000 url('../images/banner.jpg') center right no-repeat;
    background-size:contain;
    width:100%;
    padding:20px 0;
}

header h1 {
    font-size:45px;
    text-indent:50px;
    font-family: 'Pacifico', 'Helvetica', 'Arial', 'sans-serif';
    color: #d4ce18;
}

label {
  color: white;
  font-size: 18px;
}

.body_content{
  font-size:40px;
  font-family: 'Pacifico', 'Helvetica', 'Arial', 'sans-serif';
  color: #d4ce18;
  text-align: center;
  /* margin-top: 40px; */
}

.button {
  display: block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}
.button:hover {
  background-color: #C74218;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}

select.form-control {
  margin-top: 20px;
  margin-bottom: 15px;
  background: #f4511e;
  color:#fff;
}
select.form-control.noMargin {
  margin:0 !important;
}
.Customer-content {
  width:60%;
  margin: 0 auto;
}

.PO_content {
  width:90%;
  margin:0 auto;
}

.sumbit_SO {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 48%;
  padding: 10px 20px 20px 20px;
  margin-top: 40px;
  margin: 0 auto;
  /* margin-left: 80px; */
  /* height: 100px; */
}

.sumbit_PO {
  float: left;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 48%;
  padding: 10px 20px 20px 20px;
  margin-top: 40px;
  /* margin-left: 80px; */
  /* height: 100px; */
}

.view_PO {
  display: inline-block;
  float:right;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 48%;
  padding: 10px 20px 20px 20px;
  margin-top: 40px;
}

.content_header {
  font-size:60px;
  /* text-indent:50px; */
  font-family: 'Pacifico', 'Helvetica', 'Arial', 'sans-serif';
  color: #d4ce18;
  text-align: center;
  margin-top: 80px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


nav {
    background:#333;
    width:100%;
    height:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
nav ul li{
    list-style:none;
    display:inline-block;
    margin-right:12px;
}
nav ul li a {
    color:#d4ce18;
    line-height:50px;
    font-weight:bold;
    font-family: 'ABeeZee', sans-serif;
    display:block;
    margin-right: 50px;
}
nav ul li a:hover {
    color:#fff;
    text-decoration: none;
}

table {
    color:#fff !important;
    margin-top: 80px;
    background-color: #d4ce18;
}
